@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Playfair Display', serif;
    
}
body{
    height: 100vh;
    /* background: linear-gradient(to right,#f77f,#fcbf49); */
    animation: bgColor 4s ease-in-out infinite;
    /* transition: background 2s; */
}
:root{
    --primary-color: #f77f;
}
.cards{
    display: flex;
    text-align: center;
    
}
.card{
    width: 25%;
    height: 400px;
    background-color: #242628;
    margin: 20vh 30px;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.4s;
}
.card:hover{
    transform: scale(1.05);

}
.card-img{ 
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-top: 20px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    overflow: hidden;
    transition: 0.4s;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content{
    
}
.card-img:hover{
    border-radius: unset;
    border: unset;
    width: 100%;
    height: 100%;
    transform: translateY(-20px);
    cursor: pointer;
    -webkit-filter: brightness(1.2);
}
.card-content .card_profile-name {
    color: white;
    margin: 10px 0;
    font-size: 24px;
    font-weight: 500;
}
.card-role{
    color: var(--primary-color);
    font-size: 16px;
}
.card_social-contact{
    margin: 30px 0;
    font-size: 30px;
}
.card_social-contact a{
    color: white;
    display: inline-block;
    margin: 0 16px;
    transition: .3s;
}
.card_social-contact a:hover{
    color: var(--primary-color);
    transform : scale(1.2);
}

.contact-btn button{
    padding: 12px 20px;
    margin-bottom: 5px;
    background: #242628;
    border: 1px solid var(--primary-color); 
    border-radius: 10px;
    color:#fff;
    transition: .3s;
    outline: none;
    font-weight: 500;
}
.contact-btn button:hover{
    background: var(--primary-color);  
    cursor: pointer;
    transform : scale(1.2);
}

@keyframes bgColor {

    from{
        background: linear-gradient(to right,#f77f,#fcbf49);

    }
    
    to{
        background: linear-gradient(to left,#f77f,#fcbf49);

    }
}




/* Mobile responsive */
@media (max-width: 740px){
    .cards{
        flex-direction: column;
    }
    .card{
        width: 75%;
        margin: 20vh auto;
    }

}

/* Tablet responsive */
@media (min-width: 740px) and (max-width: 1023px){
    .cards{
        flex-direction: column;
    }
    .card{
        width: 50%;
        margin: 20vh auto;
    }    

}